@model CreationViewModel

@{
    ViewData["Title"] = "Add New Word";
}

<div class="text-center">
    <h1>Add a new word to the dictionary.</h1>
    @{
        if (string.IsNullOrEmpty(Model.Word))
        {
            <h2>Error. Enter a word.</h2>
        }

        else if (!Model.IsAdded)
        {
            <h2>Error. Bad input / word exists.</h2>
        }

        else
        {
            <h2>"@(Model.Word)" added to dictionary.</h2>
        }
    }
</div>
