@model CreationViewModel

@{
    ViewData["Title"] = "Add New Word";
}

<div class="text-center">
    <h1>Pridėti naują žodį į žodyną.</h1>
    @{
        if (string.IsNullOrEmpty(Model.Word))
        {
            <h2>Klaida. Įveskite žodį.</h2>
        }

        else if (!Model.IsAdded)
        {
            <h2>Klaida. Neteisinga įvestis/žodis jau yra žodyne.</h2>
        }

        else
        {
            <h2>"@(Model.Word)" pridėta į žodyną.</h2>
        }
    }
</div>
