@model AnagramViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">ANAGRAM SOLVER</h1>

    <form asp-controller="Home" asp-action="Index" asp-route-id="" method="get">
        <input type="text" name="id" placeholder="Enter your words" />
        <button type="submit">Submit</button>
    </form>

    @{
        if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <h1>@Model.ErrorMessage</h1>
        }

        else if (Model.Anagrams.Any())
        {
            <h2>Anagrams for "@Model.Word"</h2>
        }
        else if (!string.IsNullOrEmpty(Model.Word) && !Model.Anagrams.Any())
        {
            <h2>No anagrams for "@Model.Word" were found.</h2>
        }
    }

    <ul>
        @foreach (var anagram in Model.Anagrams)
        {
            <li>@anagram</li>
        }
    </ul>

</div>
